* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #dd00ff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23DD00FF' cx='50' cy='0' r='50'/%3E%3Cg fill='%23d303f6' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23c905ee' cx='50' cy='100' r='50'/%3E%3Cg fill='%23c007e5' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23b608dc' cx='50' cy='200' r='50'/%3E%3Cg fill='%23ad09d4' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23a309cb' cx='50' cy='300' r='50'/%3E%3Cg fill='%239a09c3' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%239109ba' cx='50' cy='400' r='50'/%3E%3Cg fill='%238909b1' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%238008a9' cx='50' cy='500' r='50'/%3E%3Cg fill='%237707a0' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%236f0798' cx='50' cy='600' r='50'/%3E%3Cg fill='%2367068f' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%235f0587' cx='50' cy='700' r='50'/%3E%3Cg fill='%2357047e' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23500376' cx='50' cy='800' r='50'/%3E%3Cg fill='%2348026e' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23410165' cx='50' cy='900' r='50'/%3E%3Cg fill='%233a015d' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23330055' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: contain;
}

h1 {
  font-family: 'Russo one';
  color: #8b008b;
}
p {
  font-family: 'Voces';
  text-align: justify;
  margin: 1vw;
  font-size: 1vw;
}
a {
  color: #f569c1;
}
a:visited {
  color: #020021;
}
span.ei {
  font-weight: bold;
  color: #340d3d;
}

div.content {
  width: 75%;
  margin: auto;
  padding-top: 1vh;
}

div.section1 {
  background-color: #dcdcdc;
  border-radius: 1vw;
  text-align: center;
  padding: 0 2vw 2vh 2vw;
}
div.section1 h1 {
  text-align: center;
  font-size: 7vw;
}
div.section1 p {
  color: #73467d;
}
div.section1 img {
  border: 0.5vw solid #790179;
  border-radius: 1vw;
  width: 60%;
}

div.section2 {
  border: 1px solid white;
  padding: 0.5vw;
  border-radius: 0.5vw;
  margin-top: 0.5vw;
  text-align: center;
}
div.section2 .history,
div.section2 .world {
  background-color: #b036c6;
}
div.section2 .world {
  margin-top: 1vw;
}
div.section2 div {
  background-color: white;
}
div.section2 h1 {
  margin-left: 1vw;
  text-align: left;
  font-size: 2vw;
}
div.section2 p {
  color: #fff;
  margin: 1vw 8vw 1vw 8vw;
  line-height: 2vw;
}
div.section2 p::first-letter {
  color: #f660df;
  font-size: 2vw;
}
div.section2 img {
  border: 0.5vw solid #790179;
  border-radius: 1vw;
  width: 55%;
  margin-bottom: 1vw;
}
div.textbox {
  text-align: left;
  border: 0.7vw solid #f468b4;
  padding: 0.5vw;
  margin: 0 7vw 0 7vw;
  background-color: #f7b0dc;
}
div.textbox ul {
  list-style-position: inside;
  list-style-type: square;
  color: #8b008b;
  font-family: 'JetBrains mono';
  font-weight: 100;
  font-size: 1vw;
}
div.textbox ul span {
  text-decoration: underline;
  font-weight: bold;
}
div.textbox li {
  margin-bottom: 0.5vw;
}
div.section2 iframe {
  width: 50vw;
  height: 28vw;
  margin-bottom: 1vw;
}
footer {
  width: 100%;
  background-color: #7c7979;
  border-top: 0.5vw solid white;
  border-bottom: 0.5vw solid white;
  margin: 1vw 0 1vw 0;
}
footer p {
  text-align: center;
  margin: 1.5vw;
  font-weight: bold;
}
span.ei {
  transition: color 1s;
}
span.ei:hover {
  color: white;
}
a {
  transition: none;
}
a:hover {
  transition: all 2s;
  text-shadow: 1px 1px 5px black;
  letter-spacing: 0.2vw;
}

div.textbox {
  transition: background-color 2s;
}
div.textbox ul {
  transition: color 2s;
}

div.textbox:hover {
  background-color: #8b008b;
}
div.textbox:hover ul {
  color: #f7b0dc;
}
