* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*
  font-family: 'Nerko One', cursive;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  */
}

html {
  scroll-behavior: smooth;
}

/* Fondo */
body {
  background: rgb(2, 0, 36);
  background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 50%, rgba(0, 212, 255, 1) 100%);
}

/* Contenido */
div.content {
  width: 60%;
  margin: 1vw auto;
}

/* Divs */
div.content div.titulo,
div.content div.categorias,
div.content div.carta,
div.content div.alergenos {
  border-radius: 20px;
  margin: 0 0 2vh 0;
  padding: 1vw;
  background: url('./img/fondo.png') #eee;
  box-shadow: 10px 10px 10px black;
}

/* Títulos */
h1,
h2 {
  font-weight: 300;
}

/* Botón Volver Arriba */
div.content div.linea:last-child {
  float: none;
  width: 50%;
  margin: 0 auto;
}
div.content div div.linea a[href='#inicio'] {
  color: black;
  text-decoration: none;
}
div.content div a h1:last-of-type {
  text-decoration: underline black;
  font-size: 3vw;
}

/* Div Título */
div.content div.titulo h1,
div.content div.titulo h2 {
  text-align: center;
  font-family: 'Nerko One', cursive;
}
div.content div.titulo h1 {
  font-size: 5vw;
  text-decoration: overline;
}
div.content div.titulo h2 {
  font-size: 4vw;
}
div.content div.titulo {
  text-align: center;
}
div.content div.titulo img {
  float: left;
  height: 25vh;
  margin-left: 2vw;
  animation: anim1 1s ease-in forwards;
  transform: rotateZ(180deg) scale(0);
}

@keyframes anim1 {
  from {
    transform: rotateZ(180deg) scale(0);
  }
  to {
    transform: rotateZ(0) scale(1);
  }
}

/* Div Categorías */
div.content div.categorias::after {
  content: '.';
  visibility: hidden;
  height: 0;
  display: block;
  clear: both;
}
div.content div.categorias div {
  float: left;
  width: 33%;
  text-align: center;
}
div.content div.categorias div img {
  width: 50%;
  border-radius: 50%;
  margin: 0 0 0.2vh 0;
  transition: all 0.5s;
}
div.content div.categorias div img:hover {
  box-shadow: 10px 10px 10px black;
  transform: scale(1.1);
  transition: all 2s;
  border: 0.5vw solid #031a6b;
}
div.content div.categorias div p {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 3vw;
}

/* Carta */
div.content div.carta h1 {
  text-align: center;
  font-family: 'Nerko One', cursive;
  font-size: 5em;
}
div.content div.carta hr {
  border: 1px solid black;
  margin: 0 0 0.6vw 0;
}
div.content div.carta div p {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 2em;
}
div.content div.carta div::after {
  content: '.';
  visibility: hidden;
  height: 0;
  display: block;
  clear: both;
}
div.content div.carta div.linea p:first-of-type {
  float: left;
  width: 30%;
}
div.content div.carta div.linea hr {
  display: block;
  width: 95%;
  margin: 0 auto;
  border: 1px dashed black;
}
div.content div.carta div.linea img {
  float: right;
  height: 3.5vh;
  transition: all 0.5s;
  filter: drop-shadow(2px 2px 2px black);
}
div.content div.carta div.linea img:hover {
  transform: scale(1.2);
  transition: all 1s;
}
div.content div.carta div.linea p:last-of-type {
  float: right;
  width: 12vw;
  text-align: right;
  margin: 0 0 0 1vw;
  width: 25%;
}

/* Alérgenos */
div.content div.alergenos div {
  float: left;
  text-align: center;
}
div.content div.alergenos::after {
  content: '.';
  visibility: hidden;
  height: 0;
  display: block;
  clear: both;
}
div.content div.alergenos h1 {
  text-align: center;
  font-family: 'Nerko One', cursive;
  font-size: 4em;
}
div.content div.alergenos hr {
  border: 1px solid black;
  margin: 0 0 0.6vw 0;
}
div.content div.alergenos div {
  width: 14.2857143%; /* Resultado de dividir el 100% entre 7 divs */
}
div.content div.alergenos div img {
  width: 100%;
  filter: drop-shadow(2px 2px 2px black);
}
div.content div.alergenos div p {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 2vw;
}
