* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*
  font-family: 'Nerko One', cursive;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  */
}

body {
  background: rgb(3, 26, 107);
  background: linear-gradient(0deg, rgba(3, 26, 107, 1) 0%, rgba(5, 178, 220, 1) 100%);
}

div.content {
  width: 60%;
  margin: 1vw auto;
}

div.content div.titulo {
  border-radius: 20px;
  border: 1px solid black;
  margin: 0 0 2vh 0;
}
div.content div.titulo h1,
div.content div.titulo h2 {
  text-align: center;
  font-family: 'Nerko One', cursive;
}
div.content div.titulo h1 {
  font-size: 5vw;
}
div.content div.titulo h2 {
  font-size: 4vw;
}

div.content div.categorias {
  border-radius: 20px;
  border: 1px solid black;
  margin: 0 0 2vh 0;
  padding: 1vw;
}
div.content div.categorias::after {
  content: '.';
  visibility: hidden;
  height: 0;
  display: block;
  clear: both;
}
div.content div.categorias div {
  float: left;
  width: 33%;
  text-align: center;
}
div.content div.categorias div img {
  width: 50%;
  border-radius: 50%;
  border: 0.5vw solid #031a6b;
  margin: 0 0 0.2vh 0;
  transition: all 2s;
}
div.content div.categorias div img:hover {
  box-shadow: 10px 10px 10px black;
  transform: scale(1.1);
}
div.content div.categorias div p {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 3vw;
}

div.content div.entrantes {
  border-radius: 20px;
  border: 1px solid black;
  margin: 0 0 2vh 0;
  padding: 1vw;
}
div.content div.entrantes h1 {
  text-align: center;
  font-family: 'Nerko One', cursive;
  font-size: 3vw;
}
div.content div.entrantes hr {
  border: 1px solid black;
  margin: 0 0 0.6vw 0;
}
div.content div.entrantes div p {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 2vw;
}
div.content div.entrantes div::after {
  content: '.';
  visibility: hidden;
  height: 0;
  display: block;
  clear: both;
}
div.content div.entrantes div.linea p:first-child {
  float: left;
}
div.content div.entrantes div.linea img {
  float: right;
  width: 2vw;
}
div.content div.entrantes div.linea p:last-of-type {
  float: right;
}
