* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*
  font-family: 'Nerko One', cursive;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  */
}

body {
  background: rgb(2, 0, 36);
  background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 50%, rgba(0, 212, 255, 1) 100%);
}

div.content {
  width: 60%;
  margin: 1vw auto;
}

/* Divs */
div.content div.titulo,
div.content div.categorias,
div.content div.entrantes,
div.content div.alergenos {
  border-radius: 20px;
  margin: 0 0 2vh 0;
  padding: 1vw;
  background: url('./img/fondo.png') #fff;
  box-shadow: 10px 10px 10px black;
}

h1,
h2 {
  font-weight: 300;
}

div.content div.titulo h1,
div.content div.titulo h2 {
  text-align: center;
  font-family: 'Nerko One', cursive;
}
div.content div.titulo h1 {
  font-size: 5vw;
  text-decoration: overline;
}
div.content div.titulo h2 {
  font-size: 4vw;
}

/* div.content div.categorias {
  border-radius: 20px;
  margin: 0 0 2vh 0;
  padding: 1vw;
  background-color: #89ce94;
  background-image: url('https://www.transparenttextures.com/patterns/beige-paper.png');
  box-shadow: 10px 10px 10px black;
} */
div.content div.categorias::after {
  content: '.';
  visibility: hidden;
  height: 0;
  display: block;
  clear: both;
}
div.content div.categorias div {
  float: left;
  width: 33%;
  text-align: center;
}
div.content div.categorias div img {
  width: 50%;
  border-radius: 50%;
  border: 0.2vw solid #031a6b;
  margin: 0 0 0.2vh 0;
  transition: all 0.5s;
}
div.content div.categorias div img:hover {
  box-shadow: 10px 10px 10px black;
  transform: scale(1.1);
  transition: all 2s;
  border-radius: 40%;
}
div.content div.categorias div p {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 3vw;
}

/* div.content div.entrantes {
  border-radius: 20px;
  margin: 0 0 2vh 0;
  padding: 1vw;
  background-color: #89ce94;
  background-image: url('https://www.transparenttextures.com/patterns/beige-paper.png');
  box-shadow: 10px 10px 10px black;
} */
div.content div.entrantes h1 {
  text-align: center;
  font-family: 'Nerko One', cursive;
  font-size: 4em;
}
div.content div.entrantes hr {
  border: 1px solid black;
  margin: 0 0 0.6vw 0;
}
div.content div.entrantes div p {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 2em;
}
div.content div.entrantes div::after {
  content: '.';
  visibility: hidden;
  height: 0;
  display: block;
  clear: both;
}
div.content div.entrantes div.linea p:first-of-type {
  float: left;
  width: 30%;
}
div.content div.entrantes div.linea hr {
  display: block;
  width: 95%;
  margin: 0 auto;
  border: 1px dashed black;
}
div.content div.entrantes div.linea img {
  float: right;
  height: 3.5vh;
  transition: all 0.5s;
  filter: drop-shadow(2px 2px 2px black);
}
div.content div.entrantes div.linea img:hover {
  transform: scale(1.2);
  transition: all 1s;
}
div.content div.entrantes div.linea p:last-of-type {
  float: right;
  width: 12vw;
  text-align: right;
  margin: 0 0 0 1vw;
  width: 25%;
}

/**/

/* div.content div.alergenos {
  border-radius: 20px;
  margin: 0 0 2vh 0;
  padding: 1vw;
  background-color: #89ce94;
  background-image: url('https://www.transparenttextures.com/patterns/beige-paper.png');
  box-shadow: 10px 10px 10px black;
} */
div.content div.alergenos div {
  float: left;
  text-align: center;
}
div.content div.alergenos::after {
  content: '.';
  visibility: hidden;
  height: 0;
  display: block;
  clear: both;
}
div.content div.alergenos h1 {
  text-align: center;
  font-family: 'Nerko One', cursive;
  font-size: 4em;
}
div.content div.alergenos hr {
  border: 1px solid black;
  margin: 0 0 0.6vw 0;
}
div.content div.alergenos div {
  width: 14.2857143%; /* Resultado de dividir el 100% entre 7 divs */
}
div.content div.alergenos div img {
  width: 100%;
  filter: drop-shadow(2px 2px 2px black);
}
div.content div.alergenos div p {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 2vw;
}
