* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
div.contenedor {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(135deg, rgba(232, 95, 240, 1) 20%, rgba(62, 180, 240, 1) 40%, rgba(154, 240, 93, 1) 60%, rgba(250, 165, 72, 1) 80%);
  background-size: 400% 400%;
  animation: fondo 15s linear infinite;
  padding: 1.5vw;
}
div.contenedor h1 {
  font-family: 'Abril Fatface', cursive;
  border: 4px solid black;
  text-align: center;
  font-size: 5vw;
  text-shadow: -1px -1px 0px #fff, 1px 1px 0px #fff, -1px 1px 0px #fff, 1px -1px 0px #fff;
  animation: titulo 10s linear 5s infinite alternate;
  background-color: darkblue;
  margin-bottom: 1.5vw;
  border-radius: 5px;
}
div.contenedor h2 {
  font-family: 'Bangers', cursive;
  border: 4px solid black;
  display: inline-block;
  font-size: 3vw;
  padding: 0 2vw 0 2vw;
  text-shadow: -1px -1px 0px #fff, 1px 1px 0px #fff, -1px 1px 0px #fff, 1px -1px 0px #fff;
  animation: bloqueMovil 20s linear 1s infinite;
  background-color: darkred;
  border-radius: 5px;
}

@keyframes fondo {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes titulo {
  0% {
    background-color: darkblue;
  }
  20% {
    background-color: darkmagenta;
  }
  40% {
    background-color: darkslategray;
  }
  60% {
    background-color: darkorange;
  }
  80% {
    background-color: crimson;
  }
  100% {
    background-color: darkblue;
  }
}

@keyframes bloqueMovil {
  16% {
    color: black;
    transform: translateX(68.3vw);
    background-color: orangered;
  }

  32% {
    transform: translateX(68.3vw) rotatez(180deg);
    background-color: gold;
  }

  48% {
    transform: translate(34.15vw, 34vh) rotatey(180deg) rotatez(90deg);
    background-color: darkgreen;
  }

  64% {
    transform: translate(68.3vw, 65vh) rotatez(180deg);
    background-color: royalblue;
  }
  80% {
    transform: translateY(65vh) rotatex(180deg);
    background-color: darkorchid;
  }
  100% {
    color: hotpink;
    background-color: darkred;
  }
}
