* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables */
:root {
  --li-height: 50px; /* Alto de los elementos de las listas */
  --li-width: 150px; /* Ancho de los elementos de las listas */
  --li-padd: 12px; /* Padding de los elementos de las listas */

  /* Colroes */
  --color-white: #fff;
  --color-black: #2e0404;
  --color-red: #dc143c;
}

/* Fondo */
div.content {
  height: calc(100vh - var(--li-height));
  background: center url(background.jpg);
  width: 100vw;
  min-width: calc(var(--li-width) * 5); /* El ancho minimo es la suma del ancho de cada li presente en el menu */
  overflow-x: hidden;
}
/* Título */
div.content h1 {
  color: var(--color-white);
  position: relative;
  text-align: center;
  top: 10vw;
  font-size: 5em;
  width: 90%;
  margin: 0 auto;
  font-family: 'Suez One', serif;
}
/* Texto */
div.content p {
  color: var(--color-white);
  position: relative;
  text-align: center;
  top: 11vw;
  font-size: 3em;
  width: 90%;
  margin: 0 auto;
  z-index: 1;
}
/* Fuente del menú y el texto */
p,
li {
  font-family: 'KoHo', sans-serif;
}

/* Barra de navegación */
nav {
  height: var(--li-height);
  background-color: var(--color-red);
  min-width: calc(var(--li-width) * 5); /* El ancho minimo es la suma del ancho de cada li presente en el menu */
  z-index: 5;
  position: relative;
}
nav li {
  text-align: center;
  float: left;
  list-style-type: none;
  font-size: 1.2em;
  width: var(--li-width);
  height: var(--li-height);
  padding: var(--li-padd);
  color: var(--color-white);
  background-color: var(--color-red);
}
nav li:hover {
  background-color: var(--color-black);
}
nav ul.main ul {
  display: none;
}

/* Desplegables */
nav a:hover + ul {
  display: block;
}
nav ul ul:hover {
  display: block;
}
nav ul ul {
  float: left;
  position: absolute;
  width: var(--li-width);
}

/* Emotions */
nav ul ul.emotions {
  top: var(--li-height);
  left: var(--li-width);
}

/* Feelings */
nav ul ul.feelings {
  top: var(--li-height);
  left: calc(var(--li-width) * 2);
}

/* Feelings positive */
nav ul ul.positive {
  left: var(--li-width);
}

/* Feelings neutral */
nav ul ul.neutral {
  top: var(--li-height);
  left: var(--li-width);
}

/* Feelings negative */
nav ul ul.negative {
  top: calc(var(--li-height) * 2);
  left: var(--li-width);
}

/* Feelings negative simple */
nav ul ul.simple {
  left: var(--li-width);
}

/* Feelings negative complex */
nav ul ul.complex {
  top: var(--li-height);
  left: var(--li-width);
}
