* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fondo */
div.main {
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='150' height='130' patternTransform='scale(1) rotate(120)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(224, 0%, 100%, 1)'/><path d='m34.52 0 2.98 5.16L40.48 0Zm83.34 0-3.57 6.19h21.42l-3.57-6.2Zm-100 0-3.57 6.19H35.7l-3.57-6.2Zm116.66 0 2.98 5.16L140.48 0ZM42.86 0l-3.57 6.19H60.7l-3.57-6.2Zm25 0-3.57 6.19H85.7l-3.57-6.2Zm16.66 0 2.98 5.16L90.48 0Zm25 0 2.98 5.16L115.48 0zm29.77 8.25 5.35 9.29 5.36 9.28V8.25ZM0 8.25v18.57l5.36-9.28 5.35-9.29Zm14.29 0 5.35 9.29L25 26.82l5.36-9.28 5.35-9.29H25Zm25 0 5.35 9.29L50 26.82l5.36-9.28 5.35-9.29H50Zm50 0 5.35 9.29 5.36 9.28 5.36-9.28 5.35-9.29H100ZM12.5 9.28l-5.36 9.29-5.35 9.28H23.2l-5.35-9.28Zm75 0-5.36 9.29-5.35 9.28H98.2l-5.35-9.28Zm25 0-5.36 9.29-5.35 9.28h21.42l-5.35-9.28Zm25 0-5.36 9.29-5.35 9.29h21.42l-5.35-9.29ZM26.79 29.92l5.35 9.28 5.36 9.29 5.36-9.29 5.35-9.28H37.5Zm100 0 5.35 9.28 5.36 9.29 5.36-9.29 5.35-9.28H137.5Zm-125 0 5.35 9.28 5.36 9.29 5.36-9.29 5.35-9.28h-10.7Zm100 0 5.35 9.28 5.36 9.3 5.36-9.3 5.35-9.28H112.5ZM75 30.95l-5.36 9.29-5.35 9.28H85.7l-5.35-9.28Zm-25 0-5.36 9.29-5.35 9.28H60.7l-5.35-9.28Zm50 0-5.36 9.29-5.35 9.28h21.42l-5.35-9.28Zm25 0-5.36 9.29-5.35 9.28h21.42l-5.35-9.28ZM0 51.6v18.57l10.71-18.57zm14.29 0L25 70.16l10.71-18.57h-10.7Zm25 0L50 70.16l10.71-18.57H50Zm25 0 10.7 18.57 10.72-18.57zm75 0 10.7 18.57V51.59ZM12.5 52.62 1.79 71.19H23.2L12.5 52.62Zm100 0-10.71 18.57h21.42L112.5 52.62zm-25 0L76.79 71.19H98.2L87.5 52.62zm50 0-10.71 18.57h21.42L137.5 52.62ZM76.79 73.25l5.35 9.29 5.36 9.28 5.36-9.28 5.35-9.29H87.5Zm-75 0 5.35 9.29 5.36 9.28 5.36-9.28 5.35-9.29H12.5Zm50 0 5.35 9.29 5.36 9.28 5.36-9.28 5.35-9.29H62.5Zm75 0 5.35 9.29 5.36 9.28 5.36-9.28 5.35-9.29H137.5zm23.2 1.03-5.35 9.29-5.35 9.28h10.7zM0 74.28v18.57h10.71l-5.35-9.28Zm100 0-5.36 9.29-5.35 9.28h21.42l-5.35-9.28zm-75 0-5.36 9.29-5.35 9.29H35.7l-5.35-9.3Zm50 0-5.36 9.29-5.35 9.29H85.7l-5.35-9.3zM39.29 94.92l5.35 9.28L50 113.5l5.36-9.29 5.35-9.28H50ZM0 94.92v18.57l5.36-9.29 5.35-9.28zm89.29 0 5.35 9.28 5.36 9.29 5.36-9.29 5.35-9.28H100Zm25 0 5.35 9.28 5.36 9.29 5.36-9.29 5.35-9.28H125zm25 0 5.35 9.28 5.36 9.29V94.92zm-51.8 1.03-5.35 9.29-5.35 9.28H98.2l-5.35-9.28zm-74.99 0-5.36 9.29-5.35 9.28H23.2l-5.35-9.28Zm25 0-5.36 9.29-5.35 9.28H48.2l-5.35-9.28Zm100 0-5.36 9.29-5.35 9.28h21.42l-5.35-9.28zM26.79 116.58l5.35 9.29 2.38 4.13h5.96l2.38-4.13 5.35-9.29H37.5Zm100 0 5.35 9.29 2.38 4.13h5.96l2.38-4.13 5.35-9.29H137.5Zm-50 0 5.35 9.3 2.38 4.12h5.96l2.38-4.13 5.35-9.28H87.5zm25 0 5.35 9.3 2.38 4.12h5.96l2.38-4.13 5.35-9.28H112.5ZM25 117.63l-5.36 9.28-1.78 3.1h14.28l-1.78-3.1zm100 0-5.36 9.28-1.78 3.1h14.28l-1.78-3.1zm-75 0-5.36 9.28-1.78 3.1h14.28l-1.78-3.1zm25 0-5.36 9.28-1.78 3.1h14.28l-1.78-3.1-5.36-9.28z'  stroke-width='1' stroke='none' fill='hsla(259, 39%, 87%, 1)'/><path d='M0 0v6.19h10.71L7.14-.01Zm9.52 0 2.98 5.16L15.48 0Zm50 0 2.98 5.16L65.48 0zm33.34 0-3.57 6.19h21.42l-3.57-6.2Zm50 0-3.57 6.19h10.7v-6.2ZM64.29 8.25l5.35 9.29L75 26.82l5.36-9.28 5.35-9.29Zm50 0 5.35 9.29 5.36 9.28 5.36-9.28 5.35-9.29H125ZM37.5 9.28l-5.36 9.29-5.35 9.29H48.2l-5.35-9.29Zm25 0-5.36 9.29-5.35 9.29H73.2l-5.35-9.29ZM51.8 29.92l5.35 9.29 5.36 9.28 5.36-9.28 5.35-9.29H62.5Zm25 0 5.35 9.29 5.36 9.28 5.36-9.28 5.35-9.29H87.5ZM0 30.95v18.57h10.71l-5.35-9.28Zm25 0-5.36 9.29-5.35 9.28H35.7l-5.35-9.28Zm125 0-5.36 9.29-5.35 9.28h10.7zM114.29 51.6l10.7 18.57 10.72-18.57H125zm-25 0L100 70.16l10.71-18.57H100ZM37.5 52.62 26.79 71.19H48.2L37.5 52.62Zm25 0L51.79 71.19H73.2ZM26.79 73.25l5.35 9.29 5.36 9.28 5.36-9.28 5.35-9.29H37.5Zm75 0 5.35 9.29 5.36 9.28 5.36-9.28 5.35-9.29H112.5ZM50 74.3l-5.36 9.28-5.35 9.29H60.7l-5.35-9.29zm75 0-5.36 9.28-5.35 9.29h21.42l-5.35-9.29zM14.29 94.92l5.35 9.28 5.36 9.3 5.36-9.3 5.35-9.28H25Zm50 0 5.35 9.28L75 113.5l5.36-9.29 5.35-9.28Zm48.21 1.03-5.36 9.29-5.35 9.28h21.42l-5.35-9.28zm-50 0-5.36 9.29-5.35 9.28H73.2l-5.35-9.28zM1.8 116.6l5.35 9.28L9.52 130h5.96l2.38-4.13 5.35-9.28H12.5Zm50 0 5.35 9.28 2.38 4.13h5.96l2.38-4.13 5.35-9.28h-10.7ZM0 117.62V130h7.14l-1.78-3.1zm100 0-5.36 9.28-1.78 3.1h14.28l-1.78-3.1zm50 0-5.36 9.28-1.78 3.1H150z'  stroke-width='1' stroke='none' fill='hsla(272, 60%, 92%, 1)'/><path d='m132.14 0 3.57 6.19H114.3l3.57-6.2h14.28zM90.48 0 87.5 5.16 84.52 0h5.96zM125 30.95l5.36 9.29 5.35 9.28H114.3l5.35-9.28ZM1.79 29.92H23.2l-5.35 9.28-5.36 9.29-5.36-9.29-5.35-9.28ZM25 74.28l5.36 9.29 5.35 9.28H14.3l5.35-9.28zm51.79-1.03H98.2l-5.35 9.29-5.36 9.28-5.36-9.28-5.35-9.29ZM125 117.62l5.36 9.28 1.78 3.1h-14.28l1.78-3.1 5.36-9.28zm-48.21-1.04H98.2l-5.35 9.29-2.38 4.13h-5.96l-2.38-4.13zM62.5 9.28l5.36 9.29 5.35 9.28H51.8l5.35-9.28 5.36-9.29ZM14.29 8.25H35.7l-5.35 9.29L25 26.82l-5.36-9.28-5.35-9.29ZM62.5 52.62l5.36 9.28 5.35 9.29H51.8l5.35-9.29 5.36-9.28zm26.79-1.04h21.42l-5.35 9.29-5.36 9.29-5.36-9.29-5.35-9.29ZM87.5 95.95l5.36 9.28 5.35 9.29H76.8l5.35-9.29 5.36-9.28zm-73.21-1.03H35.7l-5.35 9.28L25 113.5l-5.36-9.29-5.35-9.28Z'  stroke-width='1' stroke='none' fill='hsla(218, 100%, 94%, 1)'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
  width: 100vw;
}

/* Contenedor gris */
div.main div.content {
  background-color: #80808080;
  width: 90%;
  margin: 0 auto;
  padding: 2vh 0;
}
div.main div.content h1 {
  font-size: 4em;
  text-align: center;
  border: 0.6vw solid black;
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 4vw;
  width: 90%;
  padding: 2vh 0;
  background-color: #796dce80;
  font-family: 'Atma';
  font-weight: 600;
}
div.main div.content h2 {
  font-size: 3em;
  border: 0.6vw solid black;
  border-radius: 10px;
  margin: 0 auto;
  width: 95%;
  padding: 2vh 1vw;
  background-color: #fff5fe80;
  font-family: 'Atma';
  font-weight: 600;
  margin-bottom: 4vw;
}

/* Primera sección, con 5 divs flotantes */
div.section1 {
  width: 93%;
  margin: 0 auto;
}
div.section1::after {
  content: '.';
  visibility: hidden;
  height: 0;
  display: block;
  clear: both;
}
div.section1 div:nth-child(2) {
  margin: 0 2%;
}
div.section1 div:nth-child(4) {
  margin: 3% 2% 4vw 17%;
  clear: both;
}
div.section1 div:nth-child(5) {
  margin: 3% 0 4vw 0;
}
div.section1 div {
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='35.584' height='30.585' patternTransform='scale(1) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(125, 91%, 54%, 0.5019607843137255)'/><path d='M36.908 9.243c-5.014 0-7.266 3.575-7.266 7.117 0 3.376 2.45 5.726 5.959 5.726 1.307 0 2.45-.463 3.244-1.307.744-.811 1.125-1.903 1.042-3.095-.066-.811-.546-1.655-1.274-2.185-.596-.447-1.639-.894-3.162-.546-.48.1-.778.58-.662 1.06.1.48.58.777 1.06.661.695-.149 1.274-.066 1.705.249.364.265.546.645.562.893.05.679-.165 1.308-.579 1.755-.446.48-1.125.744-1.936.744-2.55 0-4.188-1.538-4.188-3.938 0-2.466 1.44-5.347 5.495-5.347 2.897 0 6.008 1.888 6.388 6.058.166 1.804.067 5.147-2.598 7.034a.868.868 0 00-.142.122c-1.311.783-2.87 1.301-4.972 1.301-4.088 0-6.123-1.952-8.275-4.021-2.317-2.218-4.7-4.518-9.517-4.518-4.094 0-6.439 1.676-8.479 3.545.227-1.102.289-2.307.17-3.596-.496-5.263-4.567-7.662-8.159-7.662-5.015 0-7.265 3.574-7.265 7.116 0 3.377 2.45 5.727 5.958 5.727 1.307 0 2.449-.463 3.243-1.308.745-.81 1.126-1.903 1.043-3.095-.066-.81-.546-1.654-1.274-2.184-.596-.447-1.639-.894-3.161-.546-.48.1-.778.58-.662 1.06.099.48.579.777 1.059.66.695-.148 1.275-.065 1.705.25.364.264.546.645.563.893.05.679-.166 1.307-.58 1.754-.447.48-1.125.745-1.936.745-2.549 0-4.188-1.539-4.188-3.939 0-2.466 1.44-5.345 5.495-5.345 2.897 0 6.008 1.87 6.389 6.057.163 1.781.064 5.06-2.504 6.96-1.36.864-2.978 1.447-5.209 1.447-4.088 0-6.124-1.952-8.275-4.021-2.317-2.218-4.7-4.518-9.516-4.518v1.787c4.088 0 6.123 1.953 8.275 4.022 2.317 2.218 4.7 4.518 9.516 4.518 4.8 0 7.2-2.3 9.517-4.518 2.151-2.069 4.187-4.022 8.275-4.022s6.124 1.953 8.275 4.022c2.318 2.218 4.701 4.518 9.517 4.518 4.8 0 7.2-2.3 9.516-4.518 2.152-2.069 4.188-4.022 8.276-4.022s6.123 1.953 8.275 4.022c2.317 2.218 4.7 4.518 9.517 4.518v-1.788c-4.088 0-6.124-1.952-8.275-4.021-2.318-2.218-4.701-4.518-9.517-4.518-4.103 0-6.45 1.683-8.492 3.556.237-1.118.304-2.343.184-3.656-.497-5.263-4.568-7.663-8.16-7.663z'  stroke-width='1' stroke='none' fill='hsla(29, 94%, 49%, 0.5019607843137255)'/><path d='M23.42 41.086a.896.896 0 01-.729-.38.883.883 0 01.215-1.242c2.665-1.887 2.764-5.23 2.599-7.034-.38-4.187-3.492-6.058-6.389-6.058-4.055 0-5.495 2.88-5.495 5.346 0 2.4 1.639 3.94 4.188 3.94.81 0 1.49-.265 1.936-.745.414-.447.63-1.076.58-1.755-.017-.248-.2-.629-.547-.893-.43-.315-1.026-.398-1.704-.249a.868.868 0 01-1.06-.662.868.868 0 01.662-1.059c1.523-.348 2.566.1 3.161.546.729.53 1.209 1.374 1.275 2.185.083 1.191-.298 2.284-1.043 3.095-.794.844-1.936 1.307-3.244 1.307-3.508 0-5.958-2.35-5.958-5.726 0-3.542 2.25-7.117 7.266-7.117 3.591 0 7.663 2.4 8.16 7.663.347 3.79-.828 6.868-3.344 8.656a.824.824 0 01-.53.182zm0-30.585a.896.896 0 01-.729-.38.883.883 0 01.215-1.242c2.665-1.887 2.764-5.23 2.599-7.034-.381-4.187-3.493-6.058-6.389-6.058-4.055 0-5.495 2.88-5.495 5.346 0 2.4 1.639 3.94 4.188 3.94.81 0 1.49-.266 1.936-.746.414-.446.629-1.075.58-1.754-.017-.248-.2-.629-.547-.894-.43-.314-1.026-.397-1.705-.248A.868.868 0 0117.014.77a.868.868 0 01.662-1.06c1.523-.347 2.566.1 3.161.547.729.53 1.209 1.374 1.275 2.185.083 1.191-.298 2.284-1.043 3.095-.794.844-1.936 1.307-3.244 1.307-3.508 0-5.958-2.35-5.958-5.726 0-3.542 2.25-7.117 7.266-7.117 3.591 0 7.663 2.4 8.16 7.663.347 3.79-.828 6.868-3.344 8.656a.824.824 0 01-.53.182zm29.956 1.572c-4.8 0-7.2-2.3-9.517-4.518-2.151-2.069-4.187-4.022-8.275-4.022S29.46 5.486 27.31 7.555c-2.317 2.218-4.7 4.518-9.517 4.518-4.8 0-7.2-2.3-9.516-4.518C6.124 5.486 4.088 3.533 0 3.533s-6.124 1.953-8.275 4.022c-2.317 2.218-4.7 4.518-9.517 4.518-4.8 0-7.2-2.3-9.516-4.518-2.152-2.069-4.188-4.022-8.276-4.022V1.746c4.8 0 7.2 2.3 9.517 4.518 2.152 2.069 4.187 4.022 8.275 4.022s6.124-1.953 8.276-4.022C-7.2 4.046-4.816 1.746 0 1.746c4.8 0 7.2 2.3 9.517 4.518 2.151 2.069 4.187 4.022 8.275 4.022s6.124-1.953 8.275-4.022c2.318-2.218 4.7-4.518 9.517-4.518 4.8 0 7.2 2.3 9.517 4.518 2.151 2.069 4.187 4.022 8.275 4.022s6.124-1.953 8.275-4.022c2.317-2.218 4.7-4.518 9.517-4.518v1.787c-4.088 0-6.124 1.953-8.275 4.022-2.317 2.234-4.717 4.518-9.517 4.518z'  stroke-width='1' stroke='none' fill='hsla(256, 90%, 59%, 0.5019607843137255)'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
  float: left;
  width: 32%;
  border-radius: 5px;
  border: 1px solid black;
  padding: 1vh 1vw;
  font-family: 'Arvo';
}
div.section1 div img {
  float: left;
  width: 10vw;
  margin: 0 1vw 1vh 0;
}
div.section1 div p {
  font-size: 1.2em;
  text-align: justify;
}
div.section1 div p span {
  font-size: 1.3em;
  color: #8b0000;
  font-weight: 600;
  font-style: italic;
}

/* Seguna sección, con 4 divs flotantes en línea */
div.section2 {
  width: 85%;
  margin: 2vw auto;
}
div.section2::after {
  content: '.';
  visibility: hidden;
  height: 0;
  display: block;
  clear: both;
}
div.section2 div {
  float: left;
  background: linear-gradient(180deg, rgba(13, 31, 34, 0.8) 5%, rgba(163, 180, 162, 0.8) 15%);
  width: 22.75%;
  padding: 1vw;
  border-radius: 5px;
  border: 2px solid black;
}
div.section2 div:nth-child(2) {
  margin: 0 3%;
}
div.section2 div:nth-child(3) {
  margin: 0 3% 0 0;
}
div.section2 div h1.icons {
  border: none;
  margin: 0;
  padding: 0;
  background: none;
  font-size: 2em;
  color: rgba(163, 180, 162, 1);
  margin: 0 auto;
}
div.section2 img {
  width: 70%;
  margin: 0 auto;
  display: block;
}
div.section2 p {
  font-family: 'Arvo';
  font-size: 1.5em;
  text-align: justify;
}

/* Tercera sección, también con 4 divs flotantes en línea */
div.section3 {
  width: 95%;
  margin: 0 auto;
}
div.section3::after {
  content: '.';
  visibility: hidden;
  height: 0;
  display: block;
  clear: both;
}
div.section3 div {
  float: left;
  width: 23.5%;
  border: 3px solid black;
  border-radius: 5px;
}
div.section3 div.title {
  float: none;
  width: 100%;
  border: none;
  border-bottom: 3px solid black;
  padding: 1vw;
  background-color: rgba(163, 180, 162, 0.7);
  border-radius: 0px;
}
div.section3 div div.title div {
  width: 65%;
  background: none;
  text-align: center;
  border: none;
  margin: 0 auto;
  float: left;
}
div.section3 div div.title h1.icons {
  border: none;
  padding: 0;
  background: none;
  font-size: 2.2vw;
  color: black;
  margin: 0;
}
div.section3 div div.title::after {
  content: '.';
  visibility: hidden;
  height: 0;
  display: block;
  clear: both;
}
div.section3 div div.title img {
  width: 35%;
  float: right;
}
div.section3 div:nth-child(2) {
  margin: 0 2%;
}
div.section3 div:nth-child(3) {
  margin: 0 2% 0 0;
}
div.section3 div div:nth-child(2) {
  background: rgba(13, 31, 34, 0.8);
  width: 100%;
  margin: 0;
  border: none;
  border-radius: 0px;
}
div.section3 div p {
  padding: 1vw;
  color: rgba(163, 180, 162, 1);
  font-size: 1.5em;
  font-family: 'Arvo';
  line-height: 4vh;
  text-align: justify;
}

/* Pie de la página */
footer {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
footer p {
  font-size: 2em;
  padding: 2vw 0;
  font-family: 'Atma';
  font-weight: 600;
}
footer a {
  text-decoration: none;
  color: red;
}
footer a:visited {
  color: rgb(141, 2, 2);
}
