* {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}
body {
  background-color: paleturquoise;
}
div.contenedor {
  width: 80%;
  margin: auto;
}
div.contenedor h1 {
  text-align: center;
  color: royalblue;
}
div.contenedor fieldset {
  background-color: Lavender;
}
div.contenedor fieldset legend {
  color: royalblue;
  font-size: large;
}
div.contenedor fieldset label {
  color: forestgreen;
}
div.contenedor fieldset input {
  background-color: mistyrose;
}
div.contenedor fieldset input {
  color: black;
  font-weight: normal;
}
div.contenedor fieldset input:focus {
  border: 2px solid rebeccapurple;
  outline: none;
}
::placeholder {
  color: coral;
  font-style: Italic;
}
div.contenedor fieldset fieldset {
  background-color: peachpuff;
}
div.contenedor fieldset fieldset:first-of-type label {
  color: rebeccapurple;
}
div.contenedor fieldset fieldset:first-of-type input:checked + label {
  color: forestgreen;
}
div.contenedor fieldset fieldset:nth-of-type(2) label {
  color: darkcyan;
  font-weight: 400;
  font-style: italic;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
div.contenedor input.cp:invalid {
  background-color: orangered;
}
div.contenedor fieldset:last-of-type p.titulo {
  font-size: 1.3em;
  color: rebeccapurple;
  font-style: italic;
}
div.contenedor fieldset:last-of-type input + label {
  color: rebeccapurple;
  font-weight: 300;
}
div.contenedor fieldset:last-of-type input:checked + label {
  color: forestgreen;
}
div.contenedor fieldset:last-of-type input[type='radio']:hover {
  box-shadow: 0px 0px 10px green;
}
div.contenedor fieldset:last-of-type p input[type='checkbox']:nth-last-of-type(3) {
  box-shadow: 3px 3px 4px orangered;
}
div.contenedor form > p:last-child {
  text-align: center;
}
div.contenedor form > p:last-child input {
  padding: 8px;
  color: peachpuff;
  box-shadow: 2px 2px gray;
  border: none;
  border-radius: 5px;
}
div.contenedor form > p:last-child input:first-child {
  color: midnightblue;
}
div.contenedor form > p:last-child input:last-child {
  color: gray;
  font-weight: 100;
}
